[submodule "services/insightric-auth-service"]
	path = services/insightric-auth-service
	url = https://github.com/insightric/insightric-auth-service.git
[submodule "services/insightric-upload-service"]
	path = services/insightric-upload-service
	url = https://github.com/insightric/insightric-upload-service.git
[submodule "services/insightric-processing-service"]
	path = services/insightric-processing-service
	url = https://github.com/insightric/insightric-processing-service.git
[submodule "services/insightric-ai-service"]
	path = services/insightric-ai-service
	url = https://github.com/insightric/insightric-ai-service.git
[submodule "services/insightric-insight-hub"]
	path = services/insightric-insight-hub
	url = https://github.com/insightric/insightric-insight-hub.git
[submodule "services/insightric-notifier-service"]
	path = services/insightric-notifier-service
	url = https://github.com/insightric/insightric-notifier-service.git
